:root {
  --background-color: #292b31;
  --layout-color: #191c27;
  --font-color: white;
  --primary-color: #b186ff;
  --compleated-color: #4895ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--font-color);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}


button:hover {
  cursor: pointer;
  background-color: #b298dc;
}

#root {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--layout-color);
}

/* Checkbox compleate */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + .labelCheck {
  cursor: pointer;
}

.labelCheck {
  width: 20px;
}

.labelCheck:before {
  width: 20px;
  height: 20px;
  display: inline-block;
  content: "";
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

input[type=checkbox]:checked + .labelCheck:before  {
  content: '✓';
  background-color: var(--primary-color);
  font-weight: bold;
}

footer {
  width: 100%;
  height: 10vh;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  text-align: center;
}

.social-media--container {
  margin-top: 10px;
}
.social-media--container a span {
  margin: 0 10px;
  font-size: 2.5rem;
  color: var(--font-color);
}

#footer {
  display: none;
}

@media(min-width: 460px) {
  #root {
    margin: 0 auto;
    height: 80vh;
    margin-top: 50px;
    border-radius: 25px;
  }

  .title br {
    display: none;
  }
  #footer {
    display: block;
  }
}