:root {
  --background-color: #292b31;
  --layout-color: #191c27;
  --font-color: white;
  --primary-color: #b186ff;
  --compleated-color: #4895ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--font-color);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}


button:hover {
  cursor: pointer;
  background-color: #b298dc;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--layout-color);
}

